* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: black;
    width: 10vw;
    text-align: center;
    height: 99vh;
    position: fixed;
    z-index: 1;
}

.gold {
    color: gold;
}

hr {
    margin-top: 1%;
    border-color: red;
}

a {
    text-decoration: none;
    font-size: larger;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.green {
    background-color: green;
}

#customers {
    height: 19.1vh;
    position: fixed;
    right: 0;
    width: 90%;
}

#con {
    margin-top: 18.9vh;
    margin-left: 9.9%;
    position: absolute;
}

.box {
    border: 2px solid black;
    display: inline-block;
    position: sticky;
    margin-top: 1vh;
    height: 90%;
}

#cust {
    width: 90%;
    height: inherit;
    position: fixed;
}

.pep {
    border: 2px solid black;
    text-align: center;
    width: 10%;
    height: inherit;
}

.pic {
    width: 30%;
}

.noCheck {
    width: 1vh;
    height: 1vh;
    border: 1px solid black;
    background-color: red;
}

.templates {
    grid-template-columns: 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw;
    grid-template-rows: 11vh 11vh 11vh 11vh 11vh 11vh;
}

.two {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.border {
    border: 1px solid black;

}

.noDis {
    display: none;
}

.mwidth {
    max-width: 4.4vw;
}

.hei {
    height: 49%;
}

#foods {
    top: 86.7%;
    width: 90%;
    left: 10%;
    height: 13.1vh;
    overflow-x:scroll;
    overflow-y: hidden;
    position: fixed;
    display: flex;
}

.food {
    width: 6%;
    text-align: center;
    height: 100%;
}

.foodPic {
    width: 60%;
    height: 45%;
}

.foodButton {
    background-color: yellow;
    border-radius: 10px;
}

.large {
    width: 95%;
}

.green {
    background-color: #008000;
    width: 100%;
}

#butCon {
    width: 5%;
    height: 11%;
    position: fixed;
    right: 0;
    background-color: gray;
}

.switchButtons {
    height: 50%;
    width: 90%;
}

.cropImage {
    width: inherit;
    height: inherit;
}