* {
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav {
    background-color: black;
    width: 10vw;
    text-align: center;
    height: 100vh;
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gold {
    color: gold;
}

hr {
    margin-top: 1%;
    border-color: red;
}

#playarea {
    margin-left: 10vw;
    width: 90vw;
    height: 100vh;
}

.noDis {
    display: none;
}